# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env.local
.env.localdev

# Native build artifacts
ios/
android/

# EAS
.eas/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.idea/
.vscode/
